<h2 class="page-header">LOGIN AS</h2>
<form method="GET"  action="/customer/register" >
 <button type="submit" class="btn btn-primary btn-lg btn-block" >Customer</button>
</form>
<br>
<form method="GET"  action="/driver/register" >
 <button type="submit" class="btn btn-primary btn-lg btn-block">Driver</button>
</form>